<h2>Регистрация</h2>
<form method="post">
    <input name="Login" placeholder="Логин" required />
    <input name="Password" type="password" placeholder="Пароль" required />
    <button type="submit">Зарегистрироваться</button>
</form>
